/*
 * Jakit Wordpress Theme
 * Author: Piotr Be <herbalist@herbalist.hekko24.pl>
 */


/***************************************************/
/***************************************************/
/***************************************************/
/*******************main****************************/
@media (max-width: 450px) {
    .main {
        margin-bottom: 0.5em !important;
        background-color: white;
        margin-right: auto;
        margin-left: auto;
        min-height: 500px;
        width: 90%;
    }
}

@media (max-width: 700px) and (min-width: 451px) {
    .main {
        margin-bottom: 0.5em !important;
        background-color: white;
        min-height: 500px;
        margin-right: auto;
        margin-left: auto;
        width: 75%;
    }
}

@media (max-width: 1000px) and (min-width: 701px){
    .main {
        margin-bottom: 0.5em !important;
        background-color: white;
        min-height: 500px;
        margin-right: auto;
        margin-left: auto;
        width: 64%;
    }
}

@media (min-width: 1001px) {
    .main {
        margin-bottom: 0.5em !important;
        background-color: white;
        min-height: 500px;
        margin-right: auto;
        margin-left: auto;
        width: 55%;
    }
}
/***************************************************/
/***************************************************/
/***************************************************/
/***************************************************/


@media (max-width: 450px) {
    .splashme-content {
        width: 96%;
    }
}

@media (max-width: 700px) and (min-width: 451px) {
    .splashme-content {
        width: 75%;
    }
}

@media (max-width: 1000px) and (min-width: 701px){
    .splashme-content {
        width: 60%;
    }
}

@media (min-width: 1001px) {
    .splashme-content {
        width: 50%;
    }
}

/***************************************************/
/***************************************************/
/***************************************************/
/***************************************************/

@media (max-width: 450px) {
    .splashme-content-button {
        width: 96%;
        margin: 0 2% 0 2%;
    }
}

@media (max-width: 700px) and (min-width: 451px) {
    .splashme-content-button {
        width: 76%;
        margin: 0 12% 0 12%;
    }
}

@media (max-width: 1000px) and (min-width: 701px){
    .splashme-content-button {
        width: 60%;
        margin: 0 20% 0 20%;
    }
}

@media (min-width: 1001px) {
    .splashme-content-button {
        width: 50%;
        margin: 0 25% 0 25%;
    }
}

/***************************************************/
/***************************************************/
/***************************************************/
/***************************************************/

@media (max-width: 750px) {
    body {
        border: 7px solid #333;
    }
}

@media (min-width: 750px) {
    body {
        border: 11px solid #333;
    }
}